.Button {
    border: none;
    padding: 7px;
    font-size: 16px;
    border-radius: 5px;
    background: #2e73dc;
    color: #fff;
    margin: 10px 0;
    box-sizing: border-box;
    transition: all .2s;
    cursor: pointer;

    &:hover {
        background: #fff;
        color: #2e73dc;
        border: 1px solid #2e73dc;
    }
}